<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<!-- User movie reviews -->

<p>
  Movie Reviews
  <ul>
    <% @user.reviews.each do |review| %>
      <li><%= link_to('Review', movie_review_path(review.movie, review)) %> for <%= review.movie.name %>, created <%= time_ago_in_words(review.created_at) %> ago</li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
