<header>
  <h1>Reviews for <%= link_to(@movie.name, @movie) %></h1>
</header>
<ul>
  <% @reviews.each do |review| %>
  <li><%= truncate(review.content, length: 10) %>
    | <%= link_to("Show", movie_review_path(@movie.id, review.id)) %>
    | <%= link_to "Edit", edit_movie_review_path(@movie.id, review.id) %>
    | <%= link_to 'Destroy', movie_review_path(@movie.id, review.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
  <% end %>
  <hr/><br/>
  <%= link_to "Create a New Movie", new_movie_review_path(@movie.id) %>
</ul>
