<!DOCTYPE html>
<html>
<head>
  <title>MoviesCrudApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Show logged in user and links to register, authenticate and log out -->
  <% if user_signed_in? %>
    <p>User <%= current_user.email %> is signed in </p>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <% else %>
    <p>No User is signed in </p>
    <%= link_to "Sign In", new_user_session_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
  <% end %>

  <!-- Show flash messages -->
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>

  <%= yield %>

<footer>
  <address>
    Written by <a href="mailto:webmaster@example.com">Jon Doe</a>.<br>
    Visit us at:<br>
    Example.com<br>
    Box 564, Disneyland<br>
    USA
    </address>
</footer>

</body>
</html>
